{{ $js := resources.Get "js/mermaid.min.js" }}
{{ if $js }}
  <script 
    src="{{ $js.RelPermalink }}"
    {{ with $js.Data.Integrity }}integrity="{{ . }}"{{ end }}
    crossorigin="anonymous"></script>
  {{ $mermaidConfig := slice }}
  {{ if .Site.Params.ui.mermaid.theme }}
    {{ $mermaidConfig = $mermaidConfig | append (printf "theme: '%s'," .Site.Params.ui.mermaid.theme) }}
  {{ end }}
  {{ if .Site.Params.ui.mermaid.flowchart }}
    {{ $mermaidConfig = $mermaidConfig | append (printf "flowchart: { %s }," .Site.Params.ui.mermaid.flowchart) }}
  {{ end }}
  <script>
    mermaid.initialize({
      flowchart: { useMaxWidth: true }
    });
  </script>
{{ end }}