+++
title = "HomePage"
linkTitle = "HomePage"

[[cascade]]
type = "docs"
toc_root = true

  [cascade._target]
  path = "/**/*"
+++


{{< blocks/cover title="Welcome to DAIC: The Delft AI Cluster" height="min">}}
<div class="mx-auto">
	
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/quickstart" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn more <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	
	<p class="lead mt-5"> 
	<strong>
		DAIC (formerly known as INSY-HPC or just plainly HPC) is a TU Delft High Performance Computing (HPC) cluster consisting of Linux compute servers 
		with a lot of processing power and memory for running large, long or GPU-enabled jobs. 

		DAIC was initiated within the INSY department in 2015, and later, resources were joined with ST (both from EWI), and with other departments across
		 TU Delft faculties (TNW, TPM, 3mE and CiTG). 

		The cluster is available (only) to users from the participating departments, and access can be arranged through the department's contact persons. 
	</strong>
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<a href="https://meldingen-ict.tudelft.nl/en/">Campus-wide disruptions and maintenance</a>

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Frequently Asked Questions" url="support/faqs" %}}

For handy tips and current known issues, head over to the [Support area](support)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.ewi.tudelft.nl/aeaahmed/DAICdocumentation" %}}
We do a [Merge Request](https://gitlab.ewi.tudelft.nl/aeaahmed/DAICdocumentation/merge_requests) contributions workflow on **GitLab**. Feedback is always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-sharp fa-solid fa-circle-question" title="Community support" url="https://mattermost.tudelft.nl/login" %}}
For specific questions, you can consult with us and other cluster users on [MatterMost](https://mattermost.tudelft.nl/login) ~~or [MS Teams](https://teams.microsoft.com/l/channel/19%3ad5501f1d3a6e4b7394d7cee89d5b2d1c%40thread.tacv2/General?groupId=f73478dd-163d-4e49-8f75-cdfe56e20bbc&tenantId=096e524d-6929-4030-8cd3-8ab42de0887b), or even submit a ticket in the [TU Delft Self-Service Portal](https://tudelft.topdesk.net/)~~
{{% /blocks/feature %}}

{{< /blocks/section >}}


<!--
{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-sharp fa-solid fa-circle-question" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
{{< /blocks/section >}}
-->



<!--
{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->
