<!-- Gurubase Widget -->
<script async src="https://widget.gurubase.io/widget.latest.min.js" 
    data-widget-id="daHYtXHdDXuG9kL3bddrWFB7ZLmUXNyfdgC_fSDIajo"
    data-text="Ask AI"
    data-margins='{"bottom": "1rem", "right": "1rem"}'
    data-light-mode="auto"
    id="guru-widget-id">
</script>
<!-- Gurubase Widget -->
<script>
    console.log("✅ custom-head.html loaded");
  </script>
<!-- Local Widget -->
<!-- <script async src="https://widget.gurubase.io/widget.latest.min.js" 
    data-widget-id="_qyuCVp0sqLqgTWY_bDjmcsHHFtlMB2PfwV9UwqrZQQ"
    data-text="Ask AI"
    data-margins='{"bottom": "1rem", "right": "1rem"}'
    data-light-mode="auto"
    id="guru-widget-id">
</script> -->
